@import "tailwindcss";
.hero-body{
  margin: 7px;
}
.hero-bg{
  height: 100%;
}
/* .search-input{
  background-color: red;
  
}
.nav-input{
  background-color: green;
} */
.nav-input-container:has(.search-input:focus) {
 border: 1px solid rgb(73, 73, 73);
}
.ellipsis-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}
.write{
  font-family: 'Times New Roman', Times, serif;
  outline: none;
}
.animate-show{
  animation: show 0.2s ease-out;
}
.animate-close{
  animation: close 0.3s ease-in;
}
.spinner{
  animation: spinner 0.9s linear infinite;
}

@keyframes spinner {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes show {
  from{
    scale: 0.8;
    transform: scale(0.8);
  }
  to{
    transform: scale(1);
  }
}


@keyframes close {
  from{
    transform: scale(1);
   
  }
  to{
    transform: scale(0.2);
  }
}



@media (max-width: 500px) {
  .hero-body{
  margin: 5px;
}
}