
@import url('https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap');
:root {
  --bg-color: white;
  --text-color: black;
}


.dark {
  --bg-color: #121212;
  --text-color: #eee;
}

body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.search-iput{
  background-color: red; 
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #eee;
  }
} */

